<!DOCTYPE html>
<html>
<head lang="en-us">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>Template</title>
    <!--
      * ━━━━━━━━━━感觉萌萌哒━━━━━━━━━━
      *  　　　　　　　 ┏┓　　　┏┓
      * 　　　　　　　┏┛┻━━━┛┻┓
      * 　　　　　　　┃　　　　　　　┃
      * 　　　　　　　┃　　　━　　　┃
      * 　　　　　　　┃　＞　　　＜　┃
      * 　　　　　　　┃　　　　　　　┃
      * 　　　　　　　┃...　⌒　...　┃
      * 　　　　　　　┃　　　　　　　┃
      * 　　　　　　　┗━┓　　　┏━┛
      * 　　　　　　　　　┃　　　┃ Caonima blessing,the code will be without bug.
      * 　　　　　　　　　┃　　　┃ 神兽保佑,代码无bug
      * 　　　　　　　　　┃　　　┃
      * 　　　　　　　　　┃　　　┃
      * 　　　　　　　　　┃　　　┃
      * 　　　　　　　　　┃　　　┃
      * 　　　　　　　　　┃　　　┗━━━┓
      * 　　　　　　　　　┃　　　　　　　┣┓
      * 　　　　　　　　　┃　　　　　　　┏┛
      * 　　　　　　　　　┗┓┓┏━┳┓┏┛
      * 　　　　　　　　　　┃┫┫　┃┫┫
      * 　　　　　　　　　　┗┻┛　┗┻┛
      *
      * ━━━━━━━━━━感觉萌萌哒━━━━━━━━━━
    -->
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="clearives" />
</head>
<body>
<section class="imgload">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div id="percentShow" style="font-size:16px;">已加载: 0%</div>
    </div>
</section>

<section class="swiper-container" >
    <div class="lock_wrp" id="lock" style="display: block;">
        <div class="lock">
            <i></i><br>
            为了更好的体验，请使用竖屏浏览
        </div>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide p1">
            <h1>slide 1</h1>
            <h2>此页可滑动</h2>
            <div id="video_box">
                <img src="images/icon.jpg" width="100" height="100" alt=""/>
                <img src="images/icon.jpg" width="100" height="100" alt=""/>
                <img src="images/icon.jpg" width="100" height="100" alt=""/>
                <img src="images/icon.jpg" width="100" height="100" alt=""/>
            </div>
        </div>
        <div class="swiper-slide p2">
            <h1>slide 2</h1>
            <h2>此页可滑动</h2>
        </div>
        <div class="swiper-slide p3 swiper-no-swiping">
            <h1>slide 3</h1>
            <h2>此页不可滑动</h2>
            <br/>
            <h4  class="btn">点我进入p2</h4>
            <br/>
            <h4  class="btn1">点我进入p4</h4>
        </div>
        <div class="swiper-slide p4">
            <h1>slide 4</h1>
            <h2>此页可滑动</h2>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <a href="javascript:void(0);" class="bgAudio" id="audio_cc">
        <i class="icon_music"></i>
        <em></em>
    </a>
    <audio src="" id="audio"></audio>
    <audio src="" id="audio1"></audio>
</section>

<script type="text/javascript">
    (function () {
        window.dev = 0;
        var dynamicLoading = {
            css: function(path){
                if(!path || path.length === 0){
                    throw new Error('argument "path" is required !');
                }
                var head = document.getElementsByTagName('head')[0];
                var link = document.createElement('link');
                link.type = 'text/css';
                link.rel = 'stylesheet';
                link.href = path+'?'+new Date().getTime();
                head.appendChild(link);
            }
        }
        if(dev) {
            dynamicLoading.css('publish/css/main.min.css');
            document.write('<script type="text/javascript" src="publish/js/sea.min.js?'+new Date().getTime()+'">\<\/script>');
            document.write('<script type="text/javascript" src="publish/js/all.min.js?'+new Date().getTime()+'">\<\/script>');
        }else {
            dynamicLoading.css('css/reset.css');
            dynamicLoading.css('css/swiper.css');
            dynamicLoading.css('css/all.css');
            document.write('<script type="text/javascript" src="js/sea.js?"'+new Date().getTime()+'">\<\/script>');
            document.write('<script type="text/javascript" src="js/all.js?"'+new Date().getTime()+'">\<\/script>')
        }
    })();
</script>
</body>
</html>